.fab-container {
  position: fixed;
  z-index: 100;
  display: flex;

  flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;

  > div.column {
    display: flex;
    //flex-direction: column;
    align-items: center;
    margin-top: 5px;

    button {
      // margin-top: 17px;
    }
  }

  > div.column-reverse {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;

    button {
      margin-bottom: 17px;
    }
  }
}

.fab-toggler {
  float: right;
  z-index: 100;
}

#fab-dismiss {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
}

.dark-theme {
  background-color: #bdbdbd;
}
.red-theme {
  background-color: #ff1744;
}
.green-theme {
  background-color: #00e676;
}
.blue-theme {
  background-color: #2979ff;
}
.orange-theme {
  background-color: #ff9100;
}
.yellow-theme {
  background-color: #ffea00;
}
.pink-theme {
  background-color: #f50057;
}
.deeppurple-theme {
  background-color: #651fff;
}
.indigo-theme {
  background-color: #3d5afe;
}
.lightblue-theme {
  background-color: #00b0ff;
}
.cyan-theme {
  background-color: #00e5ff;
}
.brown-theme {
  background-color: #8d6e63;
}
.bluegrey-theme {
  background-color: #78909c;
}
