@import '~@angular/material/theming';

.title .line{
  margin-top: 8px;
  position: absolute;
}

@mixin title-theme($theme) {
  $accent: map-get($theme, accent);
  $background: map-get($theme, background);
  // $background-color: mat-color($background, card);

  .title{
    // @include mat-elevation(2);
    color: mat-color($accent);
    display: inline-block;
    text-align: left;
  }

}
