@import '~@angular/material/theming';

@mixin about-theme($theme) {
  $accent: map-get($theme, accent);
  $background: map-get($theme, background);
  // $background-color: mat-color($background, card);

  .menu {
    // @include mat-elevation(2);
    background-color: mat-color($accent);
  }

  .about{
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
    padding: 64px 10%;
    box-sizing: border-box;
  }
  .titleAbout{
    margin-top: 32px;
    box-sizing: border-box;
    text-align: left;
  }

  .content{
    margin-top: 32px;
    padding: 0 0 24px 24px;
    box-sizing: border-box;
  }
  .content p:first-child{
    margin-top: 0;
  }
  .content p{
    margin: 16px 0;
  }
  .content button{
    // margin-top: 24px;
    background-color: mat-color($accent);
  }
  .profile{
    background-image: url(https://avatars0.githubusercontent.com/u/5959962?s=460&v=4);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 320px;
    background-position: top center;
    max-width: 320px;
  }
}
