@import '~@angular/material/theming';
@import 'src/app/styles/material-theme.scss';

.speed-dial-container {
  position: absolute;
  left: 15px;
}

.speed-dial-container.top {
  top: 15px;
}

.speed-dial-container.bottom {
  bottom: 15px;
}
